.swiper-slide {
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc; */
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  align-items: center;
  z-index: 10;
}
.swiper-button-next {
  margin-left: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.mySwiper .swiper-pagination {
  position: relative;
  margin-top: -1.6rem;
  z-index: 5000;
}
.swiper-pagination-bullet {
  background-color: transparent;
  border: black 1px solid ;
  border-radius: 50px;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  opacity: 90%;
  width: 10px;
  height: 10px;
  border: #9810fa 1px solid ;
  background-color: #9810fa;
  border-radius: 50px;
}
